@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


/* The Modal (background) */
.modalPanel {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 5%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.90); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-panel {
  background-color: #fefefe;
  margin: auto;
  padding: 2%;
  border: 1px solid #888;
  width: 55%;
  height: 85%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.combobox{
  margin-left: 8%;
  margin-bottom: 1%;
  display: flex;

}
.filters{
  margin-left: 5%;
  margin-bottom: 1%;
}

.space{
  margin-bottom: 3%;
  
}

.subtitle{
  margin-right: 1%;
}

.button{
  width: 10%;
}

.title{
  font-size: xxx-large;
  font-weight: bold;
}

.header-div {
    
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  flex-direction: column;
}
.tabla-emp{
  width: 70vw;
  margin-left: 15vw;
}

.selections{
  margin-bottom: 4%;
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}
.filtros{
  width: 70vw;
  margin-left: 15vw;
  margin-top: 5%;
  margin-bottom: 5%;
}
.title-lista{
  margin-bottom: 5%;
}

.chart1{
  margin-top: 5%;
}


.container {
  height: 100vh;
}

.chart-wrapper {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

